Repository Kaeytee/logistic-port, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, config, workflow, tests, types, dependency, ci, bug, enhancement, security, refactor, ai

.github/labeler.yml:

# Labeler configuration for GitHub Actions
# Labels are applied to pull requests based on file path patterns.
# See: https://github.com/actions/labeler

# Professional labeler configuration for Logistics Portfolio
# Labels are applied to pull requests based on file path patterns.
# See: https://github.com/actions/labeler

# === Application Layers ===
frontend:
  - app/client/**
  - components/**
  - public/**
backend:
  - app/api/**
  - lib/**
  - server/**
  - scripts/**

# === Documentation & Config ===
documentation:
  - '**/*.md'
  - docs/**
  - README.md
config:
  - .github/**
  - '**/config.*'
  - .env*
workflow:
  - .github/workflows/**

# === Testing & Quality ===
tests:
  - tests/**
  - '**/*.test.*'
  - '**/*.spec.*'
types:
  - types/**
  - '**/*.d.ts'

# === Business/Engineering Labels ===
dependency:
  - pnpm-lock.yaml
  - package.json
  - package-lock.json
  - yarn.lock
ci:
  - .github/workflows/**
  - .github/actions/**
  - .github/labeler.yml
bug:
  - '**/bugfix/**'
  - '**/fix/**'
enhancement:
  - '**/feature/**'
  - '**/enhancement/**'
security:
  - '**/security/**'
  - '**/vuln/**'
refactor:
  - '**/refactor/**'

# === AI/ML Specific ===
ai:
  - ai/**
  - ml/**
  - '**/ai/**'
  - '**/ml/**'

# === Guidance ===
# - Add or adjust patterns as your codebase grows.
# - Use this as a starting point for automated PR labeling.
# - Labels are case-insensitive and can be combined for multi-area PRs.

refactor: simplify freight type selection by removing synthetic event creation in PackageForm
  app/client/components/ConfirmForm.tsx
  app/client/components/PackageForm.tsx
Labels: frontend

feat: implement robust auth flow with proper session handling and theme detection
  app/client/components/dashboard-card.tsx
  app/client/dashboard/page.tsx
  app/layout.tsx
  app/login/page.tsx
  client-requirements.md
  components/auth-context.tsx
  components/theme-script.tsx
  middleware.ts
  public/awaiting-time.png
Labels: frontend, documentation

refactor: split login page into server and client components for proper SSG support
  app/login/client-page.tsx
  app/login/page.tsx
Labels: none

style: remove extra whitespace in login page imports
  app/login/page.tsx
Labels: none

feat: enable footer component in registration page
  app/register/page.tsx
Labels: none

refactor: redesign sidebar with user profile and red theme styling
  app/client/components/sidebar.tsx
  app/client/layout.tsx
Labels: frontend

feat: implement user profile management with real-time image updates and global event system
  app/client/client-globals.css
  app/client/components/header.tsx
  app/client/components/settings/AccountSettings.tsx
  app/client/error.tsx
  app/client/layout.tsx
  app/client/not-found.tsx
  app/client/settings/page.tsx
  app/global-error.tsx
  components/auth-context.tsx
Labels: frontend

chore: update dummy user email to test@example.com in auth context
  components/auth-context.tsx
Labels: frontend
